<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <!-- CloudWatch Logs Appender for AWS -->
  <appender name="CloudWatchAppender" type="AWS.Logger.Log4net.AWSAppender,AWS.Logger.Log4net">
    <LogGroup>/aws/landtitle/application</LogGroup>
    <Region>us-east-1</Region>
    <LogStreamNameSuffix>instance-{instance}</LogStreamNameSuffix>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date] [%thread] [%-5level] %logger - %message%newline" />
    </layout>
  </appender>

  <!-- Console Appender for local development -->
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date] [%thread] [%-5level] %logger - %message%newline" />
    </layout>
  </appender>

  <!-- Root logger configuration -->
  <root>
    <level value="INFO" />
    <appender-ref ref="CloudWatchAppender" />
    <appender-ref ref="ConsoleAppender" />
  </root>
</log4net>
